{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - Equipe{% endblock %}

{% block menu %}
    {{ include('menu.html.twig', {'active': 'equipe'}) }}
{% endblock %}

{% block body %}
    <div class="img-head">
        <img src="{{ asset('images/mission.png') }}" class="img-responsive" />
    </div>

    <div class="container-fluid main-box">
        <div class="row">
            <div class="col-sm-12 main-cell">
                <table class="table table-hover">
                    {% for role in roles %}
                        <tr>
                            <td><h3>{{ role.name }}</h3></td>
                            {% for e in role.equipes %}
                            <td>
                                <a href="#collapse{{e.id}}" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapse{{e.id}}">{{ e.name }}</a>
                                <div class="collapse" id="collapse{{e.id}}">
                                    {{ e.text|raw }}
                                    <a href="#collapse{{e.id}}" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapse{{e.id}}">
                                        chiudi
                                    </a>
                                </div>
                            </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
