{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - Equipe{% endblock %}

{% block menu %}
    {{ include('menu.html.twig', {'active': 'equipe'}) }}
{% endblock %}

{% block body %}
    <div class="img-head">
        <img src="{{ asset('images/mission.png') }}" class="img-responsive" />
    </div>

    <div class="container-fluid main-box">
        <div class="row">
            <div class="col-sm-12 main-cell">
                <table class="table table-hover">
                    <thead>
                        <th>Nominativo</th>
                        <th>Ruolo</th>
                        <th>Curriculum</th>
                        <th>Email</th>
                    </thead>
                    {% for e in equipe %}
                        <tr>
                            <td><h3>{{ e.name }}</h3></td>
                            <td><h4>{{ e.role }}</h4></td>
                            <td>
                                <div id="precollapse{{e.id}}">
                                    {{ e.text|truncate(100, true)|raw }}
                                    <a href="#collapse{{e.id}}" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapse{{e.id}}">
                                        continua
                                    </a>
                                </div>
                                <div class="collapse" id="collapse{{e.id}}">
                                    {{ e.text|raw }}
                                    <a href="#collapse{{e.id}}" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapse{{e.id}}">
                                        chiudi
                                    </a>
                                </div>
                            </td>
                            <td>
                                {% if e.email %}
                                <h4><a href="mailto:{{ e.email }}">contatta</a></h4>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        {% for e in equipe %}
            $('#collapse{{e.id}}').on('show.bs.collapse', function(){
                $('#precollapse{{e.id}}').hide();    
            });    

            $('#collapse{{e.id}}').on('hidden.bs.collapse', function(){
                $('#precollapse{{e.id}}').show();    
            });    
        {% endfor %}
    </script>

{% endblock %}
