{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - Equipe{% endblock %}

{% block menu %}
    {{ include('menu.html.twig', {'active': 'equipe'}) }}
{% endblock %}

{% block body %}
    <div class="img-head">
        <img src="{{ asset('images/mission.png') }}" class="img-responsive" />
    </div>

    <div class="container main-box">
        <div class="row">
            <div class="col-sm-12 main-cell">
                {% for e in equipe %}
                    <div class="equipe col-sm-6">
                        <div class="row">
                            <div class="col-sm-4"><img src="{{ e.photo }}" class="img-responsive img-circle" /></div>
                            <div class="col-sm-8">
                                <h2>{{ e.name }}</h2>
                                <h4>{{ e.role }}</h4>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div>
                                <div id="precollapse{{e.id}}">
                                    {{ e.text|truncate(100, true) }}
                                    <a href="#collapse{{e.id}}" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapse{{e.id}}">
                                        continua
                                    </a>
                                </div>
                                <div class="collapse" id="collapse{{e.id}}">
                                    {{ e.text }}
                                    <a href="#collapse{{e.id}}" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapse{{e.id}}">
                                        chiudi
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        {% for e in equipe %}
            $('#collapse{{e.id}}').on('show.bs.collapse', function(){
                $('#precollapse{{e.id}}').hide();    
            });    

            $('#collapse{{e.id}}').on('hidden.bs.collapse', function(){
                $('#precollapse{{e.id}}').show();    
            });    
        {% endfor %}
    </script>

{% endblock %}
