{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - Galleria Fotografica{% endblock %}

{% block body %}
    <div class="img-head">
        <img src="{{ asset('images/mission.png') }}" class="img-responsive" />
    </div>

    <div class="container main-box">
        <div class="row">
            <div class="col-sm-12 main-cell">
                {% for album in albums %}
                    <div class="album-thumb col-sm-4">
                        <a href="{{ path('photos', {'id': album.id}) }}"><img src="{{ album.photos[0].image }}" class="img-circle img-responsive" /></a><br/>
                        <a href="{{ path('photos', {'id': album.id}) }}">{{ album.name }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
