{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - Galleria Fotografica{% endblock %}

{% block body %}
    <div class="container-fluid main-box">
        <div class="row">
            <div class="col-sm-12 main-cell">
                <h3>Galleria Fotografica</h3>
                {% for album in albums %}
                    {% if loop.index == 1 %}
                        <div class="row">
                    {% endif %}
                    <div class="album-thumb col-sm-6">
                        <a href="{{ path('photos', {'id': album.id}) }}">
                            <img src="{{ asset(['/images/gallery/', album.photos[0].image] | join) }}" class="img-circle img-responsive" />
                        </a><br/>
                        <a href="{{ path('photos', {'id': album.id}) }}">{{ album.name }}</a>
                    </div>
                    {% if loop.index % 2 == 0 %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
