{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - Eventi Passati{% endblock %}

{% block body %}
    <div class="img-head">
        <img src="{{ asset('images/mission.png') }}" class="img-responsive" />
    </div>

    <div class="container main-box">
        <div class="row">
            <div class="col-sm-12 main-cell">
                <h3>Eventi Passati</h3>
                {% for event in events %}
                    <ul class="links">
                        <li>
                            <a href="{{path('event_show', {id: event.id})}}">{{ event.name }} - {{ event.date | date("d/m/Y") }}</a>
                        </li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
