{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - {{ event.name }}{% endblock %}

{% block body %}
    <div class="img-head">
        <img src="{{ asset('images/mission.png') }}" class="img-responsive" />
    </div>

    <div class="container main-box">
        <div class="row">
        <div class="col-sm-12 main-cell">
            <h2>{{ event.name }} - {{ event.date | date("d/m/Y") }} @ {{ event.place | title }}</h2>
            {{ event.text | raw }}
        </div>
        </div>
    </div>
{% endblock %}
