<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}ASSOCIAZIONE CAVALLINO BIANCO - ONLUS{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Signika+Negative" rel="stylesheet">
        {% block stylesheets %}
            <link href="{{ asset('css/alternate.css') }}" rel="stylesheet" /> 
            {% stylesheets '@bootstrap_css' %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container frame">
            {% block menu %}
            {{ include('menu.html.twig', {'active': 'home'}) }}
            {% endblock %}

            {% block body %}{% endblock %}
            <div class="footer">Cavallino Bianco &copy;</div>
        </div>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery-3.1.0.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/general.js') }}"></script>
            {% javascripts '@bootstrap_js' %}
                 <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
