{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Contatti{% endblock %}

{% block menu %}
    {{ include('menu.html.twig', {'active': 'contact'}) }}
{% endblock %}

{% block body %}
    <div class="img-head">
        <img src="{{ asset('images/mission.png') }}" class="img-responsive" />
    </div>

    <div class="container-fluid main-box">
        <div class="row">
            <div class="col-sm-12 main-cell">
                <h2>Contatti</h2>
                <h3>Centro Ostia:</h3>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2977.565045832578!2d12.287407915905662!3d41.72990367923429!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1325efd7643eeebd%3A0x62eb25884d3bfda9!2sViale+Capitan+Casella%2C+3%2C+00122+Lido+di+Ostia+RM!5e0!3m2!1sit!2sit!4v1479383489121" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="addresses">
                    <address>
                        <strong>Associazione CAVALLINO BIANCO onlus</strong><br/>
                        CENTRO per l'AUTISMO<br/>
                        viale Capitan Casella n. 3<br/>
                        Ostia Lido (Roma)<br/> 
                        Tel./Fax <a href="tel:+390656000320">0656000320</a> - Mobile <a href="tel:+393480965486">+39 3480965486</a><br/><br/>

                        <strong>ORARI DI SEGRETERIA:</strong><br/>
                        da lunedì a venerdì<br/> 
                        16:00 / 19:30
                    </address>
                    <h3>Scrivici:</h3>

                    {{ form_errors(form.email) }}
                    <div class="form-contatti">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <div class="form-group">
                            {{ form_label(form.name, 'Il tuo nome (richiesto)')}}
                            {{ form_errors(form.name) }}
                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.email, 'La tua email (richiesto)')}}
                            {{ form_errors(form.email) }}
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.phone, 'Il tuo numero di telefono')}}
                            {{ form_errors(form.phone) }}
                            {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.message, 'Il tuo messaggio')}}
                            {{ form_errors(form.message) }}
                            {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <button type="submit" class="btn btn-default">Invia</button>
                        {{ form_end(form) }}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
