{% extends 'base.html.twig' %}

{% block body %}

    {# Codice per pulsante facebook #}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    {# Fine Codice per pulsante facebook #}

    {# Inizio Carousel #}    
    <div class="carousel-container">
        <div id="newsCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#newsCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#newsCarousel" data-slide-to="1"></li>
                <li data-target="#newsCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                {% for post in posts %}
                {% if loop.index == 1 %}
                <div class="item active">
                    {% else %}
                    <div class="item">
                        {% endif %}
                        <img src="{{ asset('/images/backcarousel.png') }}" alt="" border="0" />
                        <div class="carousel-caption">
                            <h1>{{ post.title|title }}</h1> {{ post.date|date("d/m/Y") }}
                            <p class="lead">{{ post.text|truncate(50, true)|raw }}</p>
                            <a class="btn btn-large btn-primary" href="{{ path('news_show', {id: post.id}) }}">Vai alla notizia</a>
                        </div>
                    </div>
                    {% endfor %}
                    {% for e in event %}
                    <div class="item">
                        <img src="{{ asset('/images/backcarousel.png') }}" alt="" border="0" />
                        <div class="carousel-caption">
                            <h1>{{ e.name|title }}</h1> {{ e.date|date("d/m/Y") }}
                            <p class="lead">{{ e.text|truncate(50, true)|raw }}</p>
                            <a class="btn btn-large btn-primary" href="{{ path('event_show', {id: e.id}) }}">Vedi evento</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#newsCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#newsCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    {# Fine Carousel #}

    <div class="rightplane">
        <img src="{{ asset('images/rightplane.png') }}" />
    </div>
    <div class="slogan container"><span class="slogan1">Centro per la</span> <span class="slogan2">famiglia e la persona</span> <span class="slogan3">nel ciclo di vita</span></div>
    <div class="leftplane">
        <img src="{{ asset('images/leftplane.png') }}" />
    </div>

    {# Eventi #}
    <div class="event-home container-fluid">
        {% for e in event %}
        <div class="row">
            <div class="date col-sm-1 col-sm-offset-1">
                <div class="day">{{ e.date|date('d') }}</div>
                <div class="month-year">
                    {% if e.date|date('m') == 1 %}
                    Gen
                    {% elseif e.date|date('m') == 2 %}
                    Feb
                    {% elseif e.date|date('m') == 3 %}
                    Mar
                    {% elseif e.date|date('m') == 4 %}
                    Apr
                    {% elseif e.date|date('m') == 5 %}
                    Mag
                    {% elseif e.date|date('m') == 6 %}
                    Giu
                    {% elseif e.date|date('m') == 7 %}
                    Lug
                    {% elseif e.date|date('m') == 8 %}
                    Ago
                    {% elseif e.date|date('m') == 9 %}
                    Set
                    {% elseif e.date|date('m') == 10 %}
                    Ott
                    {% elseif e.date|date('m') == 11 %}
                    Nov
                    {% elseif e.date|date('m') == 12 %}
                    Dic
                    {% endif %}
                    {{ e.date|date("Y") }}
                </div>
            </div>
            <div class="event-content col-sm-10">
                <a href="{{ path('event_show', {id: e.id}) }}"><h1>{{ e.name|title }}</h1></a>
                <p>
                    {{ e.text|truncate(50, true)|raw }}
                    {% if e.text|length > 50 %}
                        <a href="{{ path('event_show', {id: e.id}) }}">continua a leggere</a>
                    {% endif %}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    {# Fine Eventi #}

    {# Link Siti Consigliati #}
    <div class="link">
        <h3>Siti Consigliati:</h3>
        {% for link in links %}
            <ul>
                <li>
                    <a href="{{ link.url }}" target="_blank">{{ link.title }}</a>
                </li>
            </ul>
        {% endfor %}
    </div>
    {# Fine Link Siti Consigliati #}

    <div class="container-fluid">
        <div class="row info">
            <div class="info-box servizi-integrativi col-sm-3 col-sm-offset-2">
                <div class="info-title">Servizi integrativi</div>
                <div class="info-image">
                    <a href="#">
                        <img src="{{ asset('images/famiglia.png') }}" width="40%" />
                    </a>
                </div>
            </div>
            <div class="info-box facebook col-sm-3 col-sm-offset-2">
                <div class="facebook-img">
                    <a href="https://www.facebook.com/cavallinobiancoassociazioneonlus/"><img src="{{ asset('images/facebook_blue.jpg')}}" /></a>
                </div>
                <div class="facebook-desc"><a href="https://www.facebook.com/cavallinobiancoassociazioneonlus/">Seguici su facebook!</a></div>
                <div class="fb-like" data-href="https://www.facebook.com/cavallinobiancoassociazioneonlus/" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div>
            </div>
        </div>
    </div>

{% endblock %}
