{% extends 'admin.html.twig' %}

{% block body %}
<div class="admin-container">
    <h3>Amministrazione News</h3>

    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Titolo</th>
                        <th>Testo</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                    <tr>
                        <td>{% if post.date %}{{ post.date|date('d-m-Y') }}{% endif %}</td>
                        <td><a href="{{ path('admin_news_show', { 'id': post.id }) }}">{{ post.title }}</a></td>
                        <td>{{ post.text|truncate(100, true) }}</td>
                        <td class="info">
                            <ul class="admin-actions">
                                <li>
                                    <a class="btn btn-success" href="{{ path('admin_news_show', { 'id': post.id }) }}">Mostra News</a>
                                </li>
                                <li>
                                    <a class="btn btn-warning" href="{{ path('admin_news_edit', { 'id': post.id }) }}">Modifica News</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <a class="btn btn-success" href="{{ path('admin_news_new') }}">Crea nuovo</a>
    </div>
</div>
{% endblock %}
