{% extends 'admin.html.twig' %}

{% block menu %}
    {{ include('adminmenu.html.twig', {'active': 'event'}) }}
{% endblock %}

{% block body %}
<div class="admin-container">
    <h1>Nuovo Evento</h1>

    {{ form_start(form) }}
        {{ form_row(form.name, {label: 'Nome Evento'}) }}
        {{ form_row(form.date, {label: 'Data'}) }}
        {{ form_row(form.place, {label: 'Luogo'}) }}
        {{ form_row(form.text, {label: 'Testo'}) }}
    <input class="btn btn-success" type="submit" value="Crea" />
    {{ form_end(form) }}

    <ul class="admin-actions admin-actions-show">
        <li>
            <a class="btn btn-success" href="{{ path('admin_event_index') }}">Torna alla lista</a>
        </li>
    </ul>
</div>
{% endblock %}
