{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ post.title }}{% endblock %}

{% block body %}
    <div class="img-head">
        <img src="{{ asset('images/mission.png') }}" class="img-responsive" />
    </div>

    <div class="container main-box">
        <div class="row">
        <div class="col-sm-12 main-cell">
            <h2>{{ post.title }} - {{ post.date | date("d/m/Y")  }}</h2>
            {{ post.text | raw }}
        </div>
        </div>
    </div>
{% endblock %}
