{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ post.title }}{% endblock %}

{% block body %}
    <div class="img-head">
        <img src="{{ asset('images/mission.png') }}" class="img-responsive" />
    </div>

    <div class="container-fluid main-box">
        <div class="row">
        <div class="col-sm-12 main-cell">
            <div class="event-single row">
                <div class="date col-sm-1">
                    <div class="day">{{ post.date|date('d') }}</div>
                    <div class="month-year">
                        {% if post.date|date('m') == 1 %}
                        Gen
                        {% elseif post.date|date('m') == 2 %}
                        Feb
                        {% elseif post.date|date('m') == 3 %}
                        Mar
                        {% elseif post.date|date('m') == 4 %}
                        Apr
                        {% elseif post.date|date('m') == 5 %}
                        Mag
                        {% elseif post.date|date('m') == 6 %}
                        Giu
                        {% elseif post.date|date('m') == 7 %}
                        Lug
                        {% elseif post.date|date('m') == 8 %}
                        Ago
                        {% elseif post.date|date('m') == 9 %}
                        Set
                        {% elseif post.date|date('m') == 10 %}
                        Ott
                        {% elseif post.date|date('m') == 11 %}
                        Nov
                        {% elseif post.date|date('m') == 12 %}
                        Dic
                        {% endif %}
                        {{ post.date|date("Y") }}
                    </div>
                </div>
                <div class="event-content col-sm-11">
                    <a href="{{ path('news_show', {id: post.id}) }}"><h1>{{ post.title|title }}</h1></a>
                    <p>
                        {{ post.text|raw }}
                    </p>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
