{% extends 'admin.html.twig' %}

{% block body %}
<div class="admin-container">
    <h3>Modifica Foto</h3>

    <div class="modal-body">
        {{ form_start(edit_form) }}
            <img src="{{ asset(['/images/gallery/', photo.image]|join) }}" class="img-responsive" /><br/>
            {{ form_row(edit_form.album) }}
            {{ form_row(edit_form._token) }}
        <input class="btn btn-warning" type="submit" value="Modifica" />
        </form>

        <ul class="admin-actions admin-actions-show">
            <li>
                <a class="btn btn-success" href="{{ path('admin_foto_index') }}">Torna alla lista</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Elimina">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
</div>
{% endblock %}
