{% extends 'admin.html.twig' %}

{% block menu %}
    {{ include('adminmenu.html.twig', {'active': 'photo'}) }}
{% endblock %}

{% block body %}
<div class="admin-container">
    <h3>Foto</h3>

    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tbody>
                    <tr>
                        <th>Foto</th>
                        <td><img src="{{ asset(['/images/gallery/', photo.image]|join) }}" class="img-responsive" /></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <ul class="admin-actions admin-actions-show">
            <li>
                <a class="btn btn-success" href="{{ path('admin_photoalbum_show', {'id': photo.album.id}) }}">Torna alla lista</a>
            </li>
            <li>
                <a class="btn btn-warning" href="{{ path('admin_foto_edit', { 'id': photo.id }) }}">Modifica</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Elimina">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
</div>
{% endblock %}
