{% extends 'admin.html.twig' %}

{% block body %}
<div class="admin-container">
    <h3>Video</h3>

    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tbody>
                    <tr>
                        <th>Indirizzo Video</th>
                        <td>{{ video.url }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <ul class="admin-actions admin-actions-show">
            <li>
                <a class="btn btn-success" href="{{ path('admin_video_index') }}">Torna alla lista</a>
            </li>
            <li>
                <a class="btn btn-warning" href="{{ path('admin_video_edit', { 'id': video.id }) }}">Modifica</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Elimina">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
</div>
{% endblock %}
