{% extends 'admin.html.twig' %}

{% block body %}
<div class="admin-container">
    <div class="modal-body">
        <h1>Nuovo membro Equipe</h1>

        {{ form_start(form) }}
            {{ form_row(form.name, {label:'Nome'}) }}
            {{ form_row(form.role, {label:'Ruolo'}) }}
            {{ form_row(form.text, {label:'Descrizione'}) }}
            {# TODO: implementare caricamento foto #}            
            {{ form_row(form.photo, {label:'Foto'}) }}
            {{ form_row(form.email) }}
        <input class="btn btn-success" type="submit" value="Crea" />
        {{ form_end(form) }}

        <ul class="admin-actions admin-actions-show">
            <li>
                <a class="btn btn-success" href="{{ path('admin_equipe_index') }}">Torna alla lista</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
